<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.darkroomlibrary.mapper.CategoryMapper">

    <!-- ==================== 公共 SQL 片段 ==================== -->
    <sql id="queryWhere">
        <if test="name != null and name != ''">
            AND c.name LIKE concat('%',#{name},'%')
        </if>
    </sql>

    <!-- ==================== 查询操作 ==================== -->
    <select id="findByIdForUpdate" resultMap="BaseResultMap">
        SELECT c.*
        FROM category c
        WHERE c.id = #{id}
        FOR UPDATE
    </select>

    <select id="findByNameForUpdate" resultMap="BaseResultMap">
        SELECT c.*
        FROM category c
        WHERE c.name = #{name}
        FOR UPDATE
    </select>

    <select id="findByIdsForUpdate" resultMap="BaseResultMap">
        SELECT c.*
        FROM category c
        WHERE c.id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY c.id ASC
        FOR UPDATE
    </select>

    <select id="query" resultMap="BaseResultMap">
        SELECT c.*
        FROM category c
        <where>
            <include refid="queryWhere"/>
        </where>
        ORDER BY c.id ASC
        <if test="current != null and size != null">
            LIMIT #{size} OFFSET #{current}
        </if>
    </select>

    <select id="queryCount" resultType="integer">
        SELECT COUNT(*)
        FROM category c
        <where>
            <include refid="queryWhere"/>
        </where>
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        SELECT c.* FROM category c ORDER BY c.id ASC
    </select>

    <!-- ==================== 结果映射 ==================== -->
    <resultMap id="BaseResultMap" type="org.darkroomlibrary.domain.model.Category">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

</mapper>
